.item {
    float: left;
    width: 300px;
    height: 600px;
    text-align: center;
    margin: 5px;
    overflow-y: auto;
}

.poster {
    width: 200px;
}

.title {
    font-weight: bold;
    font-size: 20px;
}

.link {
    font-size: 17px;
    text-align: left;
}

.download-form {
    display: none;
}